{% extends 'base.html.twig' %}

{% block title %}
    Episódios da temporada {{ season.number }} da série {{ series.name }}
{% endblock %}

{% block body %}
    <form method="post">
        <ul class="list-group">
            {% for episode in episodes %}
                <li class="list-group-item d-flex justify-content-between">
                    <label for="episodes[{{episode.id}}]" class="container-fluid">
                        Episódio {{ episode.number }}
                    </label>
                    <input type="checkbox" 
                        name="episodes[{{episode.id}}]" 
                        id="episodes[{{episode.id}}]"
                        {% if episode.watched %} checked {% endif %}
                    />
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary my-2">
            Salvar
        </button>
    </form>
{% endblock %}
